
.grid-container {
  display: grid;
  column-gap: 2%;
  row-gap: 2%;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: auto;
  height: 600px;
  width: 800px;
  background-color: gray;
  justify-content: center;
  align-content: center;
  
}

.grid-item {
	background-color: blue;
	border: 1px solid white;
    padding: 3%;
	text-align: center;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Courier New", sans-serif;
}

.article_num {
  font-size: 0.9rem;
}

.abbr_name {
  font-size: 1.1rem;
}

.full_name {
  font-size: 0.7rem;	
}

.date_edit {
  font-size: 0.7rem;	
}