
.grid-container {
  display: grid;
  column-gap: 2%;
  row-gap: 2%;
  grid-template-columns: 120px 360px;
  grid-template-rows: auto;
  height: 150px;
  width: 640px;
  background-color: darkred;
  justify-content: space-between;
  align-content: center;
  border: 1px solid blue;
  padding: 3%;
}

.grid-articles {
	height: 800px;
    width: 640px;
	background-color: whitesmoke;
	border: 1px solid blue;
    padding: 3%;
}

#alma_text {
  color: gold;
  font-family: "Courier New", sans-serif;
  font-size: 0.8em
}

#author_name {
  color: white;
  font-family: "Courier New", sans-serif;
  font-size: 1.5em
}

a {
	text-decoration: none;
}
